.primeira-aba {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    display: flex;
    color: black;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 25px;
    font-size: 23px;
    font-weight: 700;
}

.caixa-perguntas {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    width: 600px;
    height: 256px;
    display: flex;
    justify-content: center;
    padding-top: 21px;
}

.perguntas {
    width: 600px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 25px;
    gap: 5px;
}

input {
    width: 564px;
    height: 46px;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    border-radius: 5px;
    border: 1px solid #D1D1D1;
    padding-left: 10px;
}

.prosseguir {
    background-color: red;
    color: #FFF5F4;
    font-size: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 85px;
    width: 369px;
    height: 54px;
    border-radius: 15px;
}

/*-----------------------------*/

.segunda-aba {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caixa-crie-perguntas {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    width: 600px;
    height: 825px;
    display: flex;
    justify-content: center;
    padding-top: 21px;
}

h2 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: start;
    margin-inline-end: auto;
    margin-left: 12px;
    margin-bottom: 10px;
}

.crie-perguntas {
    width: 600px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 25px;
    gap: 15px;
}

.espaço {
    margin-top: 15px;
    margin-left: 11px;
}

.espaço input {
    margin-bottom: 10px;
}

.pergunta-nova {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    width: 600px;
    height: 74px;
    margin-top: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pergunta-nova>img {
    margin-right: 10px;
}

.pergunta-nova>h2 {
    margin-bottom: 20px;
}

/* ----------------------- */

.terceira-aba {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caixa-perguntas-nivel {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    width: 600px;
    height: 256px;
    display: flex;
    justify-content: center;
    padding-top: 21px;
}

/*---------------*/

.quarta-aba {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.voltar-home {
    color: #818181;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-size: 21px;
    font-weight: 400;
    width: 369px;
    height: 54px;
    border-radius: 15px;
}

.escondido {
    display: none;
}

@media (max-width:740px){

    input{
        width: 341px;
    }

    .caixa-crie-perguntas{
        width: 370px;
    }
    .caixa-perguntas-nivel{
        width: 360px;
    }

    .pergunta-nova{
        width: 360px;
    }

}

@media (max-width: 624px){


    input{
        width: 341px;
    }
    .caixa-perguntas{
        width: 400px;
    }

    .prosseguir > h1{
        font-size: 16px;
    }

    /* fim desktop 8 */

    input{
        width: 320px;
    }

    .caixa-crie-perguntas{
        width: 300px;
    }

    .espaço {
        margin-left: 17px;
    }

    /*fim do desktop 9 */
 
}

@media (max-width: 460px){

    input{
        width: 250px;
    }

    .caixa-perguntas-nivel{
        width: 300px;
    }

    .pergunta-nova{
        width: 300px;
    }

    .prosseguir{
        width: 300px;
    }
}

@media (max-width: 440px){

    .box-quizz{
        width: auto;
        text-align: center;
        padding: 40px 20px;
        max-width: 90%;
        margin: auto;
        margin-right: 20px;
       
    }

    .titulo-box-quizz{
        width:min-content;
        font-size: 16px;
        margin: auto;
        margin-bottom: 40px;
        margin-left: 35px;
        margin-right: 0px;
        padding-left: 15px;
        min-width: 245px;
    }

    .box-quizz > img {
        max-width: 90%;
    }
    
    .prosseguir{
        width: 250px;
    }
}