.pagina-quizz {
    width: 100%;
    box-sizing: border-box;
}

.titulo-quizz {
    margin-top: 69px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flood-color: black;
    position: relative;
}

.titulo-quizz>img {
    width: 100%;
    height: 227px;
    object-fit: cover;
}

.titulo-quizz>p {
    color: white;
    font-size: 39px;
    position: absolute;
    text-align: center;
}

/* adicionar a classe abaixo no html através do JS */

.background-titulo-quizz {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .3;
}

.box-pergunta {
    width: 750px;
    background-color: white;
    margin: 70px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.titulo-pergunta {
    width: 95%;
    margin-top: 28px;
    height: 138px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 23px;
    word-break: break-word;
    text-align: center;
}

.alternativas-pergunta {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    gap: 24px;
}

.alternativa {
    width: 332px;
    cursor: pointer;
}

.alternativa>p {
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
    margin-top: 9px;
    word-break: break-word;
    margin-bottom: 20px;

}

.alternativa>img {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1.9;
}

.box-resultado {
    width: 760px;
    margin: 70px auto;
    display: flex;
    flex-direction: column;
}

.titulo-resultado {
    width: 100%;
    height: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 23px;
    background-color: #EC362D;
    margin-bottom: 18px;
    word-break: break-word;
    text-align: center;

}

.resultado {
    display: flex;
}

.resultado>img {
    object-fit: cover;
    width: 365px;
    margin-right: 21px;
}

.resultado>p {
    font-size: 19px;
    line-height: 25px;
    font-weight: 700;
    color: #484848;
    word-break: break-word;
}

.finalizar-quizz {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 57px;
}

.finalizar-quizz>button {
    font-size: 21px;
    font-weight: 400;
    width: 260px;
    height: 52px;
    margin-bottom: 8px;
    border: none;
}

.botao-reiniciar {
    border-radius: 15px;
    color: white;
    background-color: #EC362D;
    cursor: pointer;
}

.botao-home {
    background-color: rgba(0, 0, 0, 0);
    color: #818181;
    cursor: pointer;
}

.esfumacado {
    opacity: .5;
}

.verde {
    color: #009C22;
}

.vermelho {
    color: red;
}

.escondido {
    display: none;
}

@media only screen and (max-width: 1100px) {

    .titulo-quizz>p {
        font-size: 29px;
    }

    .titulo-quizz>img {
        height: 142px;
    }

    .box-pergunta {
        margin: 42px auto;
    }
}

@media only screen and (max-width: 800px) {

    .box-pergunta,
    .box-resultado {
        width: 95%;
        margin: 40px auto;
    }

    .alternativas-pergunta {
        gap: 12px;
    }

    .titulo-pergunta {
        font-size: 19px;
        height: 89px;
        margin-top: 18px;
    }

    .alternativa {
        width: 47%;
    }

    .alternativa>p {
        font-size: 13px;
        line-height: 15px;
    }

    .titulo-resultado {
        font-size: 19px;
        line-height: 22px;

    }

    .resultado {
        flex-direction: column;
    }

    .resultado>img {
        width: 100%;
    }

    .resultado>p {
        font-size: 17px;
        line-height: 19px;
        margin-top: 15px;
    }

    .botao-reiniciar,
    .botao-home {
        font-size: 18px;
    }
}